.navbar {
  width: 100%;
  padding: 20px 6%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-size: 14px;
  color: #e5e5e5;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  z-index: 10;
  transition: background-color 0.3s ease;
}
.navbar-left {
  display: flex;
  align-items: center;
  gap: 50px;
}
.navbar-left img {
  width: 90px;
}
.navbar-left ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.navbar-left ul li {
  cursor: pointer;
  transition: color 0.3s ease;
}
.navbar-left ul li:hover {
  color: rgba(255, 0, 0, 0.9);
}
.navbar-right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar-right .icons {
  width: 20px;
  cursor: pointer;
}
.navbar-right .profile:first-child {
  height: 35px;
  border-radius: 4px;
}
.navbar-right .profile:last-child {
  width: 25px;
}
.navbar-profile {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  position: relative;
}
.navbar .dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  background: #191919;
  padding: 18px 22px;
  border-radius: 5px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.navbar-profile:hover .dropdown,
.navbar-profile:active .dropdown {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.navbar .dropdown p {
  font-size: 13px;
  padding: 10px 0;
  cursor: pointer;
}
.navbar .dropdown p:hover {
  text-decoration: underline;
}
.nav-dark {
  background: #191919;
}

@media (max-width: 1050px) {
  .navbar {
    padding: 20px 4%;
  }
  .navbar-left ul,
  p {
    font-size: 12px;
  }
  .navbar img {
    height: 25px;
  }
}

@media (max-width: 950px) {
  .navbar {
    padding: 20px 4%;
  }
  .navbar-left ul {
    display: none;
  }
}

@media (max-width: 500px) {
  .navbar-right {
    gap: 10px;
  }
}
